<section id="benefits" class="bg-[var(--green-dark)] scroll-mt-[95px] py-16 px-4">
  <div class="max-w-6xl mx-auto grid md:grid-cols-2 gap-10 items-center">
    <div>
      <h2 class="text-5xl font-bold mb-10">Discover the transformative benefits of using NutriSmart for your nutrition journey</h2>
      <p class="text-gray-700 mb-15">NutriSmart empowers you to take control of your health with personalized meal planning.
        Save time and achieve your nutritional goals effortlessly.</p>
      <ul class="flex gap-8 space-y-2">
        <li><h2 class="font-bold">Health Improvement:</h2> Enhance your well-being with balanced meals tailored to your specific needs.</li>
        <li><h2 class="font-bold">Time Savings:</h2> Spend less time planning and more time enjoying delicious, healthy meals.</li>
      </ul>
    </div>
    <img src="/nutricionist5.jpg" class="rounded-lg w-full max-h-[350px] object-cover" alt="Benefits image" />
  </div>
</section>
