<section id="pricing" class="bg-[var(--green-dark)] scroll-mt-[95px] text-white py-16 px-6">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-5xl font-bold mb-4">Pricing Plans</h2>
    <p class="mb-10 text-gray-100 text-2xl">Choose the perfect plan tailored to your needs.</p>

    <div class="grid md:grid-cols-2 gap-8 text-lg">
      <ul class="space-y-4">
        <li>✅ Personalized Meal Plans</li>
        <li>✅ Expert Nutrition Advice</li>
        <li>✅ Flexible Recipe Options</li>
      </ul>

      <div class="bg-white text-black rounded-lg p-6">
        <div class="flex items-center justify-between mb-4">
        <h3 class="text-3xl font-semibold">Plan Premium</h3>
        <p class="text-5xl font-bold my-2">$19/mo</p>
        </div>
        <ul class="text-lg space-y-1 mb-4 h-90 flex flex-col justify-between flex-wrap">
          <div>Include: </div>
          <li class="flex gap-2"><img src="check.svg"> Grocery shopping list</li>
          <li class="flex gap-2"><img src="check.svg"> Nutrition tracking tool</li>
          <li class="flex gap-2"><img src="check.svg"> Recipe customization options</li>
          <li class="flex gap-2"><img src="check.svg"> Expert tips and tricks</li>
          <li class="flex gap-2"><img src="check.svg"> Personalized fitness advice</li>
          <li class="flex gap-2"><img src="check.svg"> Monthly progress reports</li>
          <li class="flex gap-2"><img src="check.svg"> Exclusive member discounts</li>
        </ul>
        <button class="bg-[var(--green-dark)] hover:bg-[var(--yellow)] cursor-pointer text-white px-6 py-2 rounded w-full mt-5">Get started</button>
      </div>
    </div>
  </div>
</section>
