<nav class="bg-[var(--green-light)] shadow-sm sticky top-0 z-50 h-full">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-full">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <a href="/" class="text-xl font-bold text-[var(--green-dark)]">
          <img src="/logo.png" alt="logo-image" class="w-40">
        </a>
      </div>

      <!-- Desktop menu -->
      <div class="hidden md:flex space-x-6">
        <a href="#features" class="text-gray-700 hover:text-[var(--yellow)]">Features</a>
        <a href="#benefits" class="text-gray-700 hover:text-[var(--yellow)]">Benefits</a>
        <a href="#steps" class="text-gray-700 hover:text-[var(--yellow)]">How It Works</a>
        <a href="#pricing" class="text-gray-700 hover:text-[var(--yellow)]">Pricing</a>
        <a href="#faq" class="text-gray-700 hover:text-[var(--yellow)]">FAQs</a>
      </div>

      <div class="hidden md:flex">
        <a href="#" class="bg-[var(--green-dark)] text-white px-4 py-2 rounded hover:bg-[var(--yellow)]">Log In</a>
      </div>

      <!-- Mobile menu button -->
      <!--<div class=" flex items-center">
        <button class="text-gray-700 focus:outline-none"> &lt;!&ndash;(click)="toggleMenu()"&ndash;&gt;
          <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
               viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
            &lt;!&ndash;<path [attr.d]="menuOpen ? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16M4 18h16'" />&ndash;&gt;
          </svg>
        </button>
      </div>-->
    </div>
  </div>

  <!-- Mobile menu -->
  <!--<div *ngIf="menuOpen" class="md:hidden bg-white border-t">
    <a href="#features" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Features</a>
    <a href="#benefits" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Benefits</a>
    <a href="#pricing" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Pricing</a>
    <a href="#faqs" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">FAQs</a>
    <a href="#signup" class="block px-4 py-2 text-[#245e4f] font-semibold hover:bg-gray-100">Get Started</a>
  </div>-->
</nav>
