<footer class="bg-[var(--green-light)] text-gray-600 pt-10 pb-5 px-6">
  <div class="max-w-[1700px] mx-auto mb-22 flex flex-col md:flex-row justify-between items-center gap-8">
    <img class="w-35" src="logo.png" alt="logo-image">
    <div>
      <ul class="flex items-center flex-col md:flex-row  gap-6 space-y-1">
        <li><a href="#features">Features</a></li>
        <li><a href="#steps">Steps</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>
    </div>

    <div  class="flex space-x-4 w-50" >
        <a href="#"><img src="facebook.svg" alt="facebook-icon"></a>
        <a href="#"><img src="instagram.svg" alt="instagram-icon"></a>
        <a href="#"><img src="x.svg" alt="x-icon"></a>
        <a href="#"><img src="github.svg" alt="github-icon"></a>
        <a href="#"><img src="youtube.svg" alt="youtube-icon"></a>
    </div>
  </div>
  <div class="flex flex-col-reverse md:flex-row gap-6 max-w-6xl mx-auto w-full items-center justify-center">
    <div>
      <p>&copy; 2025 NutriSmart. All rights reserved.</p>
    </div>
    <div class="flex flex-col items-center md:flex-row gap-6">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Cookies</a>
    </div>
  </div>
</footer>

