@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-240%);
  }
}

.animate-slideUp {
  animation: slideUp 40s linear infinite;
}
@keyframes slideDown {
  0% {
    transform: translateY(-240%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-slideDown {
  animation: slideDown 40s linear infinite;
}
