/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root{
  --green-light: #f2f7f5;
  --yellow: #faae2b;
  --yellow-dark: #99671e;
  --orange: #fa5246;
  --pink: #ffa8ba;
  --green-dark: #00473e;
}
